
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;  
    align-items: center;    
    background: rgb(254, 249, 211);
    font-family: 'Poppins', sans-serif;
    color: #444;
    margin: 0;
}

.login-card {
    border-radius: 20px;
    width: 380px;
}

h2 {
    font-weight: 750;
    color: #ff9ac4;
}

.btn-success {
    background-color: #a8e6cf;
    border-color: #a8e6cf;
    color: #444;
    border-radius: 12px;
    font-weight: 600;
}

.btn-primary {
    background-color: #ff9ac4; /* Pink pastel */
    border-color: #ff9ac4;
    border-radius: 12px;
    font-weight: 600;
}

.btn-primary:hover {
    background-color: #ff6fa9;
    border-color: #ff6fa9;
}

.register-link {
    text-decoration: none;
    color: #ff6fa9;
    font-weight: 600;
}
.register-link:hover {
    text-decoration: underline;
    color: #ff4d94;
}